<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Midterm</title>
</head>
<body>
<h1>Midterm Survey</h1>

<form action="#" method="post">
    <label for="name">Name<input type="text" id="name" name="name"></label><br>

    <br><label>Check all that apply: </label>

    <br>
    <repeat group="{{ @options }}" value="{{ @option }}">
        <label><input type="checkbox" name="options[]" value="{{ @option }}"
        > {{ first(@option) }}</label><br>
    </repeat>
    <check if="{{ isset(@errors['opts']) }}">
        <span class="err">{{ @errors['opts'] }}</span>
    </check>
    <br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>